<!--
  The <%=ucCollection%> Layout
  @author Tim De Paepe <tim.depaepe@gmail.com>
-->

<template name="<%=lcCollection%>">

    <!-- box -->
    <div class="box">
    
        <!-- box-header -->
        <div class="box-header with-border">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="box-title">{{pageTitle}}</h3>
                </div>
                <div class="col-xs-6">
                    <button style="width:50px;" class="btn btn-xs btn-success add pull-right">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- end box-header -->

        <!-- box-body -->
        <div class="box-body">
            {{#if has<%=ucCollection%>}}
                <table class="table table-bordered table-small">
                    <tbody>
                        <tr>
                            <th style="width:75%">Title</th>
                            <th style="width:25%"></th>
                        </tr>
                        {{#each <%=lcCollection%>}}
                            <tr>
                                <td>{{title}}</td>              
                                <td>
                                    <div class="btn-group pull-right" role="group" aria-label="Tools">
                                        <button type="button" class="btn btn-xs btn-default btn-secondary edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </button>
                                        <button type="button" class="btn btn-xs btn-danger btn-secondary delete">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                There are no <%=lcCollection%> at this moment.
            {{/if}}
        </div>
        <!-- end box-body -->

    </div>
 
   {{> add<%=collectionSingle%>}}
   {{> edit<%=collectionSingle%>}}
 
 </template>