<!--
  The <%=pageNameUppercase%> Page
  @author Tim De Paepe <tim.depaepe@gmail.com>
-->

<template name="<%=pageName%>">      

    <!-- BEGIN The <%=pageNameUppercase%> Design -->
    <div id="<%=pageName%>">        

        <!-- THIS SECTION CAN BE REMOVED -->
        <section class="center">
            <h1><%=pageNameUppercase%></h1>  
        </section>
        <!-- END SECTION -->

    </div>
    <!-- END <%=pageNameUppercase%> DESIGN -->

</template>